body{
    background-color: #2ebbd7;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}
.screen{
    flex: 0 0 100vw;
    width: 100vw;
    height: 90vh;
    position: relative;
}

.grass{
    position: absolute;
    z-index: 5;
}
.trompita{
    position: absolute;
    z-index: 8;
}
main{
    width: fit-content;
    height: 90vh;
    display: flex;
    flex-wrap: nowrap;
}
#trompitaYpasto{
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
}
#trompitacorre1{
    bottom: 10%;
    left: 20%;
    width: 400px;
    height: 400px;
}
#greencircle1{
    width: 100%;
    height: 120%;
    margin-top: 5%; 
}
#textbox1{
 position:absolute;
 z-index: 10;
 width: 25%;
 height: 50%;
 bottom: 20%;
 left: 65%;
}
h1{
    font-size: 2.5rem;
}
.text{
    font-family: 'Irish Grover';
}
#logosec{
    width: 100%;
    height: 30%;
}
#logo{
    width: 25%;
    height:25% ;
    position: absolute;
    z-index: 13;
    bottom: 40%;
    left: 60%;
    right: 40%;
    top: 5%;
}
footer{
    background-color: #FF6600;
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 15;
}
#footertext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
h2{
    font-size: 2rem;
    margin-left: 2%;
}
h3{
    font-size: 2rem;
    margin-right: 2%;
}

#grass2{
    width: 100%;
    height: auto;
    top: 10%;
}
#tromphacha{
    width: 300px;
    height: 300px;
    top: 40%;
    left: 10%;
}
#grass3{
    width: 100%;
    height: auto;
    top: 30%;
}
#quienessomos{
    position: absolute;
    width: 25%;
    height: 15%;
    top: 10%;
    left: 5%;
}
#textbox2{
 position:absolute;
 z-index: 10;
 width: 70%;
 height: 30%;
 top: 30%;
 left: 6%;
}
h4{
    font-size: 1.5rem;
}
#grass4{
    width: 100%;
    height: auto;
    top: 50%;
}
#xqhacemosesto{
    position: absolute;
    width: 30%;
    height: 15%;
    top: 10%;
    left: 5%;
}
#textbox3{
  position:absolute;
 z-index: 10;
 width: 80%;
 height: 30%;
 top: 20%;
 left: 6%;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1.5rem;
}
#grass5{
    width: 100%;
    height: 90%;
    top: 10%;
}
#tromplupa{
    width: 300px;
    height: 300px;
    top: 40%;
    left: 70%;
}
#screen2transporter3{

    position: absolute;
    z-index: 20;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(/public/yellowbutton.png);
    background-repeat: no-repeat;
    left: 90%;
    top: 60%;
   
}
#screen2transporter4{
    position: absolute;
    z-index: 20;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(/public/yellowbutton.png);
    background-repeat: no-repeat;
    left: 90%;
    top: 60%;
}
#screen2transporter5{
    position: absolute;
    z-index: 20;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(/public/yellowbutton.png);
    background-repeat: no-repeat;
    left: 90%;
    top: 80%;
}