body{
    background-color: #2ebbd7;
    overflow-y: hidden;
    

    margin: 0;
    padding: 0;
}
.screen{
    width: 100vw;
    height: 90vh;
}

.grass{
    position: relative;
}
.trompita{
    position: absolute;
    z-index: 8;
}
main{
    width: 100vw;
    height: 90vh;
}
#trompitaYpasto{
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
}
#trompitacorre1{
    bottom: 10%;
    left: 20%;
    width: 400px;
    height: 400px;
}
#greencircle1{
    width: 100%;
    height: 120%;
    margin-top: 5%; 
}
#textbox1{
 position:absolute;
 z-index: 10;
 width: 25%;
 height: 50%;
 bottom: 20%;
 left: 65%;
}
h1{
    font-size: 2.5rem;
}
.text{
    font-family: 'Irish Grover';
}
#logosec{
    width: 100%;
    height: 30%;
}
#logo{
    width: 25%;
    height:25% ;
    position: absolute;
    z-index: 13;
    bottom: 40%;
    left: 60%;
    right: 40%;
    top: 5%;
}
footer{
    background-color: #FF6600;
    width: 100vw;
    height: 10vh;
    position: fixed;
}
#footertext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
h2{
    font-size: 2rem;
    margin-left: 2%;
}
h3{
    font-size: 2rem;
    margin-right: 2%;
}

